{% extends 'shared/_MainLayout.html' %} {% load static %}{% block head-content %}
<title>{{ title }}</title>
{% endblock %} {% block breadcrums %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">{{ title }}</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">{{ title }}</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

{% endblock %} {% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% if activated_before %}
            <div class="alert alert-danger alert-dismissible active-error" style="width: 100%;height: 50px; margin: auto;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p> This device is already activated.</p>
            </div>
            {% endif %} {% if wrong_information %}
            <div class="alert alert-danger alert-dismissible active-error" style="width: 100%;height: 50px; margin: auto;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p>A device with the entered information was not found.</p>
            </div>
            {% endif %} {% if invalid_username %}
            <div class="alert alert-danger alert-dismissible active-error" style="width: 100%;height: 50px; margin: auto;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <p>Illegal character! Try again</p>
            </div>
            {% endif %}
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Registered devices</h3>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-center">
                            {% if number_of_devices > 0 %}
                            <tr>
                                <th>No</th>
                                <th>Device name</th>
                                <th>Username</th>
                                <th>Registration date</th>
                                <th>Device location</th>
                                <th>Device version</th>
                                <th>Status</th>
                                <th>Details</th>
                                <!-- <th>ویرایش</th> -->
                                <th>Delete</th>
                            </tr>
                            {% for device in device_info %} {% if device.User == user %}

                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td>{{ device.Name }}</td>
                                <td>{{ device.Username }}</td>
                                <td>{{ device.Date }}</td>
                                <td>{{ device.Location }}</td>
                                <td>{{ device.Version }}</td>
                                <td><span class="badge badge-success">Active</span></td>
                                <td>
                                    <a href="device-info/{{ device.id }}" class="btn btn-app bg-primary">
                                        <i class="fa fa-info"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="/remove-device/{{ device.id }}" class="btn btn-app bg-danger">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endif %} {% endfor %} {% else %}
                            <tr>
                                <td colspan="8">You have no active devices !</td>
                            </tr>
                            {% endif %}

                        </table>

                    </div>
                </div>


                <div class="col-md-2 ">
                    <!-- <input type="button" name="add-device" class="btn btn-block btn-success float-right" data-toggle="modal" data-target="#myModal" value="افزودن دستگاه"> -->

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-block btn-success float-right" data-toggle="modal" data-target="#exampleModalCenter">Add device</button>

                    <!-- Modal -->
                    <div class="modal fade just-margin-top" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header float-right">
                                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                    <h4 class="modal-title">Enter your device details</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="col-md-12">
                                            <div class="card card-danger">
                                                <div class="card-body">

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                                                            </div>
                                                            {{ add_device.Username }}
                                                        </div>
                                                        <div>
                                                            {% for error in add_device.Username.errors %}
                                                            <br>
                                                            <p style="color: red;">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <!-- /.input group -->
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fa fa-list"></i></span>
                                                            </div>
                                                            {{ add_device.Version }}
                                                        </div>
                                                        <div>
                                                            {% for error in add_device.Version.errors %}
                                                            <br>
                                                            <p style="color: red;">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <!-- /.input group -->
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fa fa-microchip"></i></span>
                                                            </div>
                                                            {{ add_device.Name }}
                                                        </div>
                                                        <div>
                                                            {% for error in add_device.Name.errors %}
                                                            <br>
                                                            <p style="color: red;">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <!-- /.input group -->
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                                                            </div>
                                                            {{ add_device.Location }}
                                                        </div>
                                                        <div>
                                                            {% for error in add_device.Location.errors %}
                                                            <br>
                                                            <p style="color: red;">{{ error }}</p>
                                                            {% endfor %}
                                                        </div>
                                                        <!-- /.input group -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>
                                    <div class="just-space"></div>
                                    <button onclick="document.getElementById('id01').style.display='block'" type="submit" class="btn btn-success">Add</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById("device_name").onclick = function() {
        $('#device_name').bind('input', function() {
            var c = this.selectionStart,
                r = /[^a-z0-9 .]/gi,
                v = $(this).val();
            if (r.test(v)) {
                $(this).val(v.replace(r, ''));
                c--;
            }
            this.setSelectionRange(c, c);
        });
    }
</script>

{% endblock %}