{% extends 'shared/_MainLayout.html' %} {% load static %} {% block head-content %}
<title>{{ title }}</title>
{% endblock %}{% block breadcrums %}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">{{ title }}</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">{{ title }}</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

{% endblock %} {% block content %}
<div class="col-md-12">
    {% if wrong_date_range %}
    <div class="alert alert-danger alert-dismissible active-error" style="width: 100%;height: 50px; margin: auto;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <p>The start date cannot be greater than the end date</p>
    </div>
    <br> {% endif %}
    <!-- general form elements -->
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Select date</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" method="POST" action="#" class="col-md-12">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group col-md-3" style="float: right; padding: 2px; ">
                    <label>Start date:</label> {{ export_methods.start_date }}
                </div>
                <div class="form-group col-md-3" style="float: right; padding: 2px; ">
                    <label>End date:</label>{{ export_methods.end_date }}
                </div>

                <div id="morePDFexport">
                    <div class="form-group col-md-3" style="float: right; padding: 2px; ">

                        <label>Output type:</label>{{ export_methods.Select_Export }}
                    </div>
                    <div class="form-group col-md-3" style="float: right;padding: 2px; ">
                        <div class="just-space-2"></div>
                        <label>Parameter selection:</label>{{ export_methods.Select_Parameter }}
                    </div>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer col-md-6" style="float:none;margin:auto;">
                <input type="submit" value="Output" class="btn btn-block btn-success float-right">
            </div>
        </form>
    </div>
    <!-- /.card -->
</div>

{% endblock %}