{% extends 'shared/_MainLays.html' %} {% load static %}{% block head-content %}
<title>{{ title }}</title>
{% endblock %} {% block content %}
<div class="wrap-login100">
    <div class="login-form2">
        <div id="login-form2">
            <span class="login100-form-title"> <i class="fa fa-check-circle fa-3x" style="color: green;"></i> </span>
            <div class="wrap-input100 text-center">
                <p class="direct" style="color: red;">ایمیل بازیابی رمز با موفقیت ارسال شد</p><br>
                <p class="direct">لطفا ایمیل خود را چک کنید</p>

            </div>

            <!-- login link -->
            <div class="text-center p-t-12">
                <a class="txt2" href="login">بازگشت</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}