{% extends 'shared/_MainLays.html' %} {% load static %}{% block head-content %}
<title>{{ title }}</title>
{% endblock %} {% block content %}
<div class="wrap-login100" style="width: 480px; padding: 113px 130px 85px 95px;">
    <div class="login-form">

        <form class="login100-form" method='POST'>
            {% csrf_token %}
            <span class="login100-form-title"> Pssword Recovery </span>
            <div class="wrap-input100 inputerror">
                {{forgot_password_form.Username}}

                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <!-- <input type='text' name='text1' /> -->
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>
            {% if valid_error %}
            <div class="wrap-input100 inputerror">
                <p style="color: red;">Invalid email! Please enter a valid email address</p>

            </div>
            {% endif %}


            <div class="container-login100-form-btn">
                <input type="submit" class="login100-form-btn" name="submit" value="retrieve">
            </div>

            <!-- login link -->
            <div class="text-center p-t-12">
                <a class="txt2" href="login">Back</a>
            </div>
        </form>
    </div>

</div>
{% endblock content %}