<!DOCTYPE html>
<html lang="en">

{% extends 'shared/_MainLays.html' %} {% load static %}{% block head-content %}
<title>{{ title }}</title>
{% endblock %} {% block content %}
<div class="wrap-login100">
    <div class="login-form2">
        <div id="login-form2">
            <span class="login100-form-title"> <i class="fa fa-check-circle fa-3x" style="color: green;"></i> </span>
            <div class="wrap-input100 text-center">
                <h2 class="direct" style="color: red;">رمز شما با موفقیت تغییر کرد
                    <h2>

            </div>
        </div>
    </div>

</div>
<script>
    window.setTimeout(function() {

        // Move to a new location or you can do something else
        window.location.href = "/login";

    }, 4000);
</script>
{% endblock %}