{% extends 'shared/_MainLays.html' %} {% load static %}{% block head-content %}
<title>تنظیم گذرواژه</title>
<style>
    input {
        /* font-family: 'Iran-SansDN'; */
        font-size: 15px;
        line-height: 1.5;
        color: #424242;
        display: block;
        width: 100%;
        background: #e6e6e6;
        height: 50px;
        border-radius: 25px;
        padding: 0 30px 0 68px;
        text-align: center;
    }
    
    .wrap-login {
        width: 960px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 130px 33px 95px;
    }
    
    .errorlist {
        color: red;
    }
    
    h2 {
        text-align: center;
    }
</style>
{% endblock %} {% block content %}
<div class="wrap-login">

    <!--Password Reset Confirm-->
    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Enter your new password</h2>
        <hr>
        <form method='POST'>
            {% csrf_token %} {{ form }}
            <div class="container-login100-form-btn">
                <input type="submit" class="login100-form-btn" name="submit" value="registration">
            </div>
        </form>
    </div>
</div>

{% endblock %}